<div class="header portico-header">
    <div class="header-main" id="top_navbar">
        <div class="float-left">
            <div>
                {% if custom_logo_url %}
                <a class="brand logo" href="{{ root_domain_uri }}/"><img draggable="false" src="{{ custom_logo_url }}" class="portico-logo" alt="{{ _('Zulip') }}" content="Zulip" /></a>
                {% else %}
                <a class="brand logo" href="{{ root_domain_uri }}{% if page_is_help_center %}/help/{% endif %}">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 532 532" enable-background="new 0 0 532 532" xml:space="preserve">  
                        <image id="image0"  x="0" y="0"
                            xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAhQAAAIUCAQAAADoc31uAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                        AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElN
                        RQfkAxwWDhCH8YPrAABEIUlEQVR42u29fZxlVXnn+63mHRx7t0BEGenTUZQQGU5HHRsU+nT0Iooz
                        nBqJ4FXDqTBEMPF2daITvTP3dvVn7iQY9VPdM2ZCEFNF5pJoiNbp3ODb1anT6uXFiLXbt6CoddqI
                        iIK1QXmHPvePU9X1dvY5++VZ69l7nfVdH5vynH3Wetbaa//2s95H8AwHz+dkTuGUFf+exDGrwtEc
                        wzE8a/H6X/IUT/E0T60Kj/AAD/LAin9/rJ0xjw1GtA3wGGAzL+AMXsAZnMFpnMwp/AuDqf2CB3iQ
                        +/hnfsgPF//1OIYXivJz6gpZeAFn8Dw2KFt0mPtWiMY/80Me0C4kTz68UJSVM3gp5/BSzuEsjtM2
                        ZgBPcDffWAw/0jbGkwUvFGViI9VFcXgpz9Y2JiMP881FyTjIQ9rGeJLihaL4HMU5nMd5nM8LtU0R
                        5vvcxu3cxjd5RtsUT3+8UBSX53A+53Mer+AkbVMM8wj/uCgZP9c2xdMbLxRFY4Rf53zO4zxePHR3
                        p8N3uY3buZ1v0dE2xrOSYauKRWYTF3EJF3OqtiEF4Gd8hn/g/2VB2xBPFy8UReAcLuESzuMobUMK
                        xjPcxq3cyje1DfF4odDkBGpcwiVUtA0pOPPcyq0c4DFtQ4YXLxQ6bOYSLmEHJ2gbUiIe439yK5/i
                        kLYhw4gXCtv8Cm/mMi5Qnz1ZVg7zJW7hFn6qbchw4YXCHs/n33mJEKIrFzN+SZotvFDY4PlczmWc
                        50tbmA63cwt/6+XCPL7qmuUM3uQlwjBeLizgK7ApTqDOVfymL2FLdPgCN/L3fmTEDL4am6DKO3gL
                        G7XNGEIe4mY+Qqhthnt4oZBlI2/jKrZqmzHkzHEjN/u1qZJ4oZBihO1cxZv8zIiC8Bh/x418UdsM
                        V/BCIcHpXMWYn19ZQL7LR7mZe7XNKD9eKPKymXF+p7TbyAwDD/NR9vn5nB49tnELT9PxofDhaf6W
                        bdrVxTN8HMWbuV29+vuQLtzOb/kVutnwTY/0bGKM/43N2mZ4MnGIfXyUh7XNKBteKNLxIv6AKzlR
                        2wxPLnyvhccgZ3AjT6m7zz7IhKe4kTO0q1R58B5FMp7Hf+RqjtU2wyPKk9zAH3OfthllwAvFYE7h
                        vbzTT6RylMf4M97vTzIbhBeK/gS8m51HDu71uMkv2cuHiLTNKDJeKOJ5Fjt5N4G2GR4rRHyA/8ov
                        tc0oKl4oenMC7+S9nKJthscqP+M6PsyT2mYUES8UvXgjH+AsbSM8KtzNH/IpbSOKhxeKtbyU63mV
                        thEeVQ6wk4PaRhQLv9HrSk7loxz0MjH0bOdr3MivaJtRJPzM9yVO4D3cwjbvY3mAEX6Da+jwNZ7S
                        NqUY+McCYIS381/4l9pmeArHj3gfN+MPTPZCAbycP+fl2kZ4Csud7ORObSO0GfY+ipP5KF/xMuHp
                        wyu5nRs5WdsMXYa5j2KE3+HveZX3qjwDGOE3uIqfDvNIyPA+JGfzEc7XNsJTKm7jt/m+thE6DKdH
                        cRx/zF/5rWc8KXkB72ADd/CMtiH2GUaP4je5gRdqG+EpLd/nd/mf2kbYZtg6M0/jb/iClwlPDl7I
                        F/hrTtM2wy7D1PTYwO/xST/C4RHgHK7mYe4anhkWw9P0OJ2beI22ER6n+AJXDsvhQsPS9LiCb3qZ
                        8AjzGr7JFdpG2GEYPIqAPx+W2+lR4GNc7f6GN+4Lxfn8LadrG+Fxmh/wdm7TNsIsbndmHsN/5qNs
                        1DbD4zibaHA0X+awtiHmcNmj+DVuZqu2EZ6hYY7L+IG2EaZwtTNzhJ18zcuExyJbOUhD2whTuOlR
                        nMAUl2sb4RlKPs4Yj2kbIY+LQrGZ/ZyrbYRnaDnIpe6da+pe0+ON3OVlwqPIudzFb2obIY1box4j
                        7OF6f9a4R5kTeRuPcLu2GZK41PR4NjfzRm0jPJ5FPs7v8rC2EVK4IxQvYT8v0TbC41nBd7iU72gb
                        IYMrfRRv5CteJjwF4yV8xRUf14U+im7PxPHaZng86ziOtzDCAW0z8lP+pofvmfAUnX/grWXvrSi7
                        UJzOfl6mbYTHM4C7uLTcO1eUWyjO5nN+ZainFNzLRXxb24jslLkz83Xc5mXCUxJO5zZep21Edsor
                        FL/PrX4BuadEbORWflvbiKyUc9RjhP/GRIlFzjOcbGCUo2lpm5GFMvZRnMj/4N9pG+HxZOSTvJ1H
                        tY1IS/mE4hQ+48c5PKXmLi7mAW0j0lE29/1s7vQy4Sk5L+NOztY2Ih3l8ii28WkCbSM8HgEitvN1
                        bSOSUyaPYhuf9zLhcYSAA2zTNiI55RGK1/B5TtI2wuMRI+Dz5TmUqixCcSm3epnwOMZJ3Mql2kYk
                        oxzzKN7KX3OsthEejzhHcxk/4BvaZgymDEJxLTeWwk6PJz0bGOWnfFXbjEEUf9TjvfyJtgme5NQI
                        qHIuFVrs0jamPLyP67RN6E/RheJPeK+2CZ5B1KhQYTsVKouftBkr50xlPa7jfdom9KPIQjHCn3Gt
                        thGeXgRUqbKZ6gpxWKbJGJG2ieXjz3mntgnxHK1tQB/+1MtEkahQWRSHap/pLBFjNLVNLSfX8nBx
                        /efiCsV1vFvbBE+FCjU2U6GW6HrvS+Tij6CoUlHUpofvwlSjSoUq5xIkFIclIvawV9v48lPQbs1i
                        CsW7+YC2Cemo9fgLoE173V9FZHmsopoxhhZjlnK43CuytgnU6vFXCbmW67VNWE8RheJqbtA2oT/d
                        x2ojVUj51m3TJuIgEaG6dKwfq8jOLmO+RLdnJOBcgtSWtoCQhwiJyiQdh/m94klF8YTicv66iBPL
                        q1Q5d0BHXnpatDlEi9BKy77/WEVWQsYIRe3s9ozk8W96EREScpB28UXjMG/jb7SNWE3RhOIN7C9S
                        B2uFKtuppvQbstAm5AAt4Ucu6VhFdvYwIRZXjRrnUhUUsThCWhykVdzm4NOM8g/aRqykWELxBj5R
                        jBO/Aupsp2ahyq4lopVbMNKOVWRFypeoUWO7BTFeT3uxtNsKaQ/gcV5fJNenSEJxIZ/Vl4kqdS4V
                        dXmzEdHkAM3ETZKsYxXZ2cuenA2mgDqXUivAJiMhLW4S9+Zy8gv+bXGkojhCcQ5f5tmaBnQrbUW7
                        HNbQZH+sXCyJg2xbPgl5p2hXqHNlAeR4NdFiaReGBzife7SN6FIUoTidO/UO86myk3oB3mvxLMuF
                        5FhFdmuyT6sKaBRQIlYS0eSmorzK7+H8YmzDWwyheDZf5hyNhCs0uLJwXkQc7QJYGrGL6Yy/rXMl
                        de0MJKRNk31F6Lu4ndfwmLYRxRCKY/gUr7WfbJmqbVHI2n1ZYSeNQvtsvWlxU2ZZFOMTvJnD2kYU
                        QSimudJuggHjJfIjisM0uzI0OWrsLLUgt7mJvborWPYxrl0K+kzQsRkqnanOQseTloVOI0NpNzrz
                        2oYLMdWpWK2na8K49mOq7VFcadOzq7KThnKGy0mb0ZRNjoAGOx3z2lrs0erkPMyb+YRm3nWF4rV8
                        imPsJFVjt8qUHhdoMZrK9Q4YZ2cJeySSlYWSWDzGa7hdL9+aQmFt5kSFKS8Smdmbcu/LcXY7KhJL
                        KImF6qwKveVXp/NpGzJRYYp5LxOZGUslEw3mmXRcJqDGLFP2m1WncCunaOVZy6OwMnMiYJzdShl0
                        gYgdKXomakwWeiKVPPknsadGbVaF1nkZ+3iD6SQafJqLlbLnAmGKDswKU1zHadomW2Yb1/AEd9hM
                        8gWcorOqVMejaDBlNoEqk765kYuQHYnflhPOdl0mIWSX3R6LMY05YBpC8Rt8iRPNRe8bHPmZZizh
                        lcPX4OiF1UbIo1zIXbZzaF8oNvJ1zjAXfU2jm8kxkspEwG79mUAFoc0ue+tOD1G13Tlie9RjAzeb
                        k4mASWa9TORkLKFM1JjzMnGECjPM2GqAbeavbD+5tjszd3O1qahrvvNSgKQN4AmmhrhfojdncQ13
                        2llx+hIsbzVuVygu4XpTjR1fcSVIJhNVPs0V2qYWkuNpEPBZG0ldyBzftZczm30UZ3EHG01EXGHG
                        d6jlJulOE40hmFKVD/l9yXsSUeWQrTzZE4oTuYuzTERc976EAMkmVwVM+mV1CcizvU8K7uJCHrWT
                        I3tNj2l2mIh2kr36O/KWnmQyUfG9QAk5njoV9ptO5vn8S1tDLbY8iitMHGgSMOOnVQmQTCa855aW
                        NJPWMvMWPmYjL3aE4lf5KpukI60y44dCRRhN8FoaZ1LbzBKSbrVMJhb4de4znxMbo7EbuFleJmp+
                        xoQQYwlkYsrLRCYC5kxvA7iJKRtPsY0+ij8y0f/V5uMc4rShW4gkzeAB0YBPl3rPSz1C3s+15heN
                        vYjH+bLpRMw3Pc7hqxxrLvoKjaFekpSPwSeHBsz6oefUREzb3Oz/SV7B180mYVoojuWrNk7saLDb
                        N0RSM3hNR5VZL8IpabMnxVGQQnydV/CkyQRMNz0+xL81nAIAIfs4ZOi8blcJef2AK7xMpCXifbyF
                        kMdtJ/xcjuXzJhMw61FcZGc26xJ+gXlyIrYMeOt5mUiLwo5XyxzmAm4zF71JodjEt3iewfh7UmVK
                        vU3dAiBQt6MfOwasKSqLTLQXewK0vUlL07b78X1ewYKpyE0Kxce43GDsfZiw5FdEhIQ8tFhZW7HX
                        dQ8UrhJwLkEhpogN6sQsoky0iDhIt5zbfToKa3RFeiNVa0c5p92p3BAfN7dWz5xQGJmLmZSawb0B
                        QkIOEuZY5VuhSpXtam/B1oDZ9MWRiYiQA4SEOUYQalQ5l6ox/y5KNBPFEsbmaZoSipM5yOnGiiMB
                        8itKQ1rsJxRthVaosZ2a1RGbQb0TRZCJiBYHaAk787XF0pakAE2OlfyIX+OXJiI2JRTWDx5ej9QM
                        gIgmBwwPeFWpcaWlPo3+vRPaMhGyn6bRRy+gxqXURXJpZTVHOv6Ca0xEa0YoLuRA/khqcKSNGRIR
                        pa4+eRdFRzTZb9GtrFA3Lhf9eyc0ZSLkJpr2JilRzy0XWWSiSnCkm7vb0yLrozK4n7owHMt3s5/b
                        XO2Md2Ziz8Ce60x1Gp0gRXyzGU+vnsl0erfMeesTxs4An+2bctCZM3wmeG/mO5NqZ4XXOzMZrZ5L
                        UQ+DTr0zGVu6C52ZzninKpWnuzlOWwKSMWH+AUn+GKev/AudCd0j7nNW4H4561e1dWRitlNXL+ss
                        0pxcJhqJ76SYYE5oS0ASzuSJ9FmrdaYyVPuJRDcrzQMwp+ZH9K7AU50FwYey1je19HcgL1MFEOSV
                        D/RsYssXEta8iQz3b2bAfUoQHucl2jIwmAPpH4eZzFUtmVhUE92u2fw3yEDIVtl6Mdk3nUmRNGTv
                        m/1QSyQWC4maCXnu22zehsistgwM4pq0WZrIXenmEzzg9YE3pogiISkWc31TaOS+C8kpqkgkF4tG
                        gjjmc5fTZL5SamhLQT9O5xdpMlMVaxVPDkxrMva3SYRGPwS5JLX/OzCZxyXDVKFFYvlBn43NwczA
                        X+d/+XWZy+NXPMDJ2nIQTzNNVuqi1XNQ51LQU+MXCtUnMShkb6SNpy4ZE8wWqk9iUGjE1JhB9WxW
                        sMRy1U8re2lm4eJ0t0GaQS3H2rpf5HTuVEIWp7b/O1CyYsczX4DRjbShlxfXPxdyPvLKWpo5B4Xc
                        Mv0ovpU8C1NGKuMgqViZai63Tjmkc237vwOl3OT+FLtXol+orBLS/vNQTDXhprJa/y3rR4YmIEU3
                        5rixCtlfKoIjN3JCvQLmC2neXPU+8dQSx5KdMkvyUn1dqjeVvvdkIUcp9SezVBiZzp2HU/lpUuPN
                        9rAPfn+Wv+Iu52Uw/ZodNnonJtTLSSJ0/Yp+j6vp6Wrj2Sz/Kc/WlobVXJ/U9KrxqjnX93a6UXGX
                        ynJ+QFn0l80Zw3eiHONJSUP/+bqzxut1xrLcqy0NKzmbp5OZbaeHPUf3T8lCMOBhr/f5rem5EzOl
                        7ZdIH2z09CSbDbouPM3Z2vKwzGeSmj2Tu7iSUVOvOvZCfI9Pv2ZHxfDciQn1crEXzHvJXWaz2fcZ
                        bXlYIvGwqI2usy7z6pXHZqj1fOgX1FzlhaESaiwupqtns1BgmDT/YWTH8aGkl04Z1auVVMqxgE6I
                        Vs8TLvsdQDNucOfOsDwbIojQsLiJ8mS2/TM+VIRh0vcm1TWb6wkyt+hKG9b2us/3vXbBWLmn2aXB
                        jTBvtV5PZLNyXFsmTuXhYhbocLWSu2FqRe7rfa6bMVbm5VjJIRnsvv4yvwAf4lRdoUg8LGq7QDud
                        BfVKZD9MLua9X7eXuZ6izNOCShzmrdfrRjZLr9eUiV9NOixqa0WBSJGWOnQFuapQtYdRJux1zy8z
                        l83WR3lRnkc9X2fm/5m0k6SicuzNpQppajPNKHv6bEM8YehogMEHHruIxlbzGU8oOYH/lCfVPLtw
                        /yrfTSoU40zmsTIzm4q2mboyAfNGdtkeTpmABZU9yzOeS/Y0v8b3sqaZx6NI7E/ovdtrSukWlYzD
                        awMYVpmoKR1tUMv2s6Pz+BTZheJXeZvxrOVmu1K6xaRiZH+0YZUJvVqd+SjKt2bvp8guFCn8iVrm
                        RPKil3IRMTHhLRxamdB8DVWz/SyHT5FVKFL5ExmzJYBeysWjZkA2wwHHHbtNVS3lWtYfZvYpsgpF
                        Cn8CNmcvkdxUFdMuFrvFY4wYG+LO4kDxjNbMT1RmnyKbUKTyJ3Qf1kAx7SJhwp8YLdI53tapKqZd
                        yf7TjD5FNqFI5U/oUtE2oCDI+xO7hmrplzNk9CmyCEVKf0KXirYBhUDen2gWa+ukIaOW58eZfIos
                        QvEf0voTlTzZ8ggg7U+0h3isY4matgFZOZp3p/9ReqHYxG+n/UmkURyeI1TFK/Wov6dl5u08J+1P
                        0gvFOzgh7U8ineLwLLJTOL49Q92JuURL24DsnMjvpv1JWqE4mt/XzmU62toGqCM9HzMcqt3Dikkr
                        bwTv5Oh0P0grFJdxur3ikKCtbYA6DeH4fO+EA7yAy9L9IK1QjGex6oBOYQC+2SPd8PDNjiVCxbTb
                        +aMYT3d5OqHYxiuz2BTlz1ZmQsW0i0BDdMpZ2zc7jhAp1utD+aN4JdvSXJ5OKMaz2RTmz1ZG9FIu
                        CrJbq/hmx0pCtZRbEpGMp7k4jVCczpsUs1WylIuB7M5izaEvz9XoNalDiUjexAuSX5xGKN6Vtqd0
                        maZExjKg2TtSBGT7JzLtq+QwLaV0Q5lGz9H8XvKLkwvFCenHXpfRemBbSukWhbpgXHv8CNIaWkq9
                        FDdJRXQ1Jya9NLlQXMmm7BY1pbKWMtVIJd2iUBecPB/5tR09aJY71eckn2WdVChG8p011FZ5t+9X
                        SLNISO5Uum/IRbc3Yu/2FISSnt27km6vnVQotvOSfBbZL9I209bTLBZ1sZi8P9GblkJzbJ9kZGcn
                        3c8vqVA08lo0bb1INdS+SNQFZ1B4fyKOPZbTi6Rff41klyUTipPSTvjshd0i9e9AuYaHL8t4bL8A
                        Rf0JgMs4KcllyYTit5JF1h+7Rbpn6N+BdbGYvD/RD5svQAMzY0/it5JclkworpGxyd68vnDo34GS
                        h9NMa2em0Exb7Kg3MpOlkeSiJEJRzbbCYz0ta8NJfmqQXMPDfu9S2bBV25pmnp8LOXfwRUmEoiFn
                        05iVSrdn6CdaSW7UJt4qdo7QilREpjzykSQRDx5FPYYfc4qcVVXmzGT3CK2hPpSmS4V5oZhCtmpn
                        phTMiM6C7cUOc6+/n3E6T/W/ZLBHcYmkTJg/gq7NqNH4y0FNLCbvTyRjzPBa0jGTXvKpXDLoksFC
                        IdSRucy0QUct8tu+ApKnYja1s1ISInYYbFZPm+5Qbgy6YJBQbOYieav2GhqTiNjhd6AA5DyKYV8t
                        k4aIUUNSYeG8+Ddwav8LBgnFW5LOBU/HLgNZD71MLFIRWww27LNb0xGy1UAN3GNjWsExXNX/gkFC
                        UTdl2bRwI6HlZeIINaF4It/wSEnEDtEyixiztflgvf/X/YXiRfxrc5Y1BR/tPezwTvIRpHooWtoZ
                        KSERo2J9cCE77E12+9ec2e/r/kJxmZmGx3JBbBWYABuy1W/5uoqqUDzDvkw/K3tFmiB7jDRkYhnJ
                        utElwB10zIdKZ6qTlYXOuAULyxakCNRzUubQ6MxnLvnZTsW+xXdklYkXcdiWkdUMYjHfmfBVuUeo
                        CcnEnHpOyh+yiMVMp6Zj7eF+jY9+TQ/DDY+VhIyxhV2JXa0mo2xhwvdL9KAqFI9veORnmi2MMp2w
                        nrbZwxZGtfqG+jY++knBHVKLwYIUD3SFOtupxgzwtQg54Pvi+zIltDjH4JThIaROle0x41HtxVrd
                        ThxbxcyMjTvjDwWKF4oX8V0pj2KSgxl6b6sEi/92tydv+1WMiZgVGh615k4OFQHVxX+jRf+5lTqO
                        BleaWc/U4SXck/ZH75Vr/cx2Op0J9fbisAQZZtXz4UPv0Oh0OgumYn9vnBzE91HU5YSqCuxmyoQG
                        etZQEYpn2I9OKipTTIHoebKrqMd9EScUolOtutlqMGcug55FKkLxhNoZ8awjYPZI/1PNTBKx067i
                        hEJwxGM5S1XmTWXQs0hVKJ5QOyOeNdSYW/H0BGYSiR35iBOKi+XSDlb9Pcuk9ysMEojEEvmO40IR
                        MMnsKm+xaiqpmCe/t1BsjB8mSc/aLI0zZ3w3oOFFZp1HqJ0NzwpqzK07qG+jqcS29X7X9BaKHRxn
                        MuMVZsQG8TwmCLUN8CxSY3aNL9GlairB43o/mL2FQrDhEfeO6xZALV1UnoFURWI5pJ0ND2rPSM8E
                        LQhF/4KYo+H7LAQJRGIJtbMx5AQ0BohELXFcqen59Pca25DbwhmAhQSVd5r9tPzKjdwELIjEs8V3
                        ZqpR59JE58YanDnb4/Yf3eMyYX9icJahQQNocYDW4oRtTxaqQvG0tTMydARUqcWuBun9i8iUMRdz
                        /dqPeslSU/CYKaCT+hcRIW0OLf7VLcQJU4XiFDVmBWKJ2KSdEaeZWFy31F3NtJnK4l/pMLhob//6
                        Ycn1QnEc90uOvUi1Y/wSpSTICIU/Qsks6V+dvTAoFBHPWWvk+s7M82SHaCumMuPpQVXbAE8C2toG
                        DCJYv8HEeqGwNOKRjlDbgJIQiMQSaWfDcdraBgxmnQqURCgibQOGioPaBngSUDMZ+UChOJlztAvA
                        4/Eo84q1Jw5vWHfB4NNIPR6P22zg5Ws/WI3gYjCPx9OLUmwKtEYJ1gpFTTo98Qg9Ho95+grFBql9
                        tz0eT6l52WptWC0U/4rjpdNra2fY4/Gk5xT+1cr/u1ooavLptbUz7PEUDGObzsiyqvGxIf4rj8dj
                        gqq2AcnwQuHxeAZSW/l/VgpFhc3atnk8nmS0TSewmdOW/89KoSiwPxFoGzBU+PdFGWibT2KFIpRE
                        KKraBgwVFW0DHKeibUBSast/GheKtnZmh4pQ2wBPAiraBiSlp0exwcxysLZQPBVzxeEQkUgsFe1s
                        eBIQmU/ipcv6sCwUL+ZE7az3o6JtwBBR0TbAaWpC8YTmTT2JFy/9uSwUVVOpRSKxBMZKwyXaQvEE
                        2hnxFIOzlv7YsP4jaUKRWKrmCsMh2kLxVLUz4jBVkVgiO8baFAoZ/JCdTSraBjhMIBJLaMfY6tIf
                        FpoeMlmqmDLPMVoisVS0s+EwMsdIW6K69MeSUJzImabSekgklprJ4vCs4VxtAxymIhKLpc1vzuSk
                        7h9LQvFic1vghULxVEwWiDOEIrFUtbPhLEG56vGGJQdiSR4M9lBEQvFUzZnoEDL+W0U7G85SFYqn
                        ZcvgRWVYEgop+w1myaCJDtESiqemnRFHqQrFE1k22IJQSGWqVJ1AakRC8dS0M+IoUrU4tGVwtfsf
                        K0IhkymjJjpDKBSP7840Q1UkltCewauaHgHPNZmWTLYCLxWJCEViqWlnw0kqQr0/bXsmv6A77rFh
                        0X6jHBKKp2bWTEdoi8TiZdkENaF4LB76uDjuYUUoQqF4fC9FEqQqUU07Iw5Suh4KWFQHK0LREoqn
                        ZtZMR2gJxeNlWZ6aUDyhTaMrYEko5HopaqYNdYBQKJ6adkacoyr0oEV2t4OqQMmEAi41bagDSFWj
                        gLp2VhyjLhRPaNfsClgTCql2c920oU4QCsXjZVkWqfK0fMhxBawJRUvM5qppUx1AqiLVtTPiFHJ1
                        t2XbcLpCEZg/4ywUmzF4pWlTHaAlFI9vfEhSF4sptGv4RoKuUFRspNYSiqduw9iSIyfLvvEhh9Qr
                        Tu7uJqZiUSik3OGK741PQEsonrp2RpyhWtaGB9gVCrns+cbHYKRkOaChnRVHkKu1lrsyAU6zKBRy
                        DlPd7xE9kJZYTF6WZWiIxdS0b7xNoZDLoO9iG0woNiWn5jexEaAh9nJraZhf6QrFaXnjSYacy7Tb
                        jsGlpiUW007trDiAnF+2X8P8s5aGR63QFIvJd2gORq5CNWhQ8yWeg6pg6TU1MhDACPATs7tRLDMr
                        VmAtdtgxucR0DMTZIuIgbdo6LnBJmRLroWizRSMD93PaCPA4x9lJb5xJsbi2+HPSBzBjuC8npM1B
                        Wl4yBlBhXiyuvezSyMITHD9CwIKt9CSLbJoxW2aXlAZTllIKaXGAlv2JQKVAzp+ArbZnZS5xwghn
                        8U/20psTXKvhfYr+WHwDLBLSYr/3MFYh+XJUangAbNlgd1LCTYJx+bGP/kTWO76qjDPLAjOCw4Fl
                        R7KWNvWycZploZDMasOP8A9AZSiNgDpTXi4AqIjObJV8zaYksCwUbVGpsNUGLyvTqr0GS3JR1y4G
                        RST9ibZW/wTYFwrZt5wf3R9EU9sA6sywwORQen9VUX9in2ZWgg225mUuIfuWkxtudRPVynWEgHHm
                        mR26BWaytbOpmRX7QiGb4Srjts0vFaGmu7qGGlPMMzE0/RYNUX+3qTvGZ7szE6TfcruHpuJloxg+
                        xRIVdjM/FA2RQNifUOzIBDhtA8fbTjMUHWkPfJdmX5qFmwbVbYhMOS4Wsi8w2UGADByvIBTS6lgf
                        6n71QdifTZGMhtNiURNuEiv7E3D8CC2NI6HmRatIxJbCvTeLg+TcQHn2sse5excwJyyBm7TL6MAG
                        nXRlFdI3P/pR7JWe4w52cO4Wlgnd+TBdVJoesFc46/WhG3pLg7rj2peA3cw51Hysi4/E7dHOklYf
                        BURMC8c4DD3p2QhKsEdVhRlmnTjcSd67bRVh8aOWUMgP2wXM6GSk8EyW5AGsMedAI2RGPAcF8Cc0
                        haIt7lNUfU9FDxqlapTtZq7U0/Inxa0vyMZAx4/Y2whvLSZ648fE5afcVJnTNiEDZR0JMbFV0I5i
                        CMWhESLzJ4/GIbn3zxJqewAVkApzJXXl24wV4wFJQZVZ8dIuzN6w96sKhQmfImKHlwoAgpJ3Dyrt
                        D5mRgHkDolwQfwIeUuujAGgb6KgJmCrpW1SamVLLBIyLbpxolsCAN1GY/gkARozs6p4YMzocsqOU
                        bVxJTDTr7BOxqxS9TnIHUaykQM3oJ5RmZi4RGVndWB36oVI3ZKLrHxbfQ5wyIhPTxZEJOG7E3qke
                        cciu+1himLfzd0UmlggZLcKkoxjMlHbE1iLl+YkNPK5tg5kuK3unWhQN12SiO8hb0zYiBlOlva9I
                        MgGPK86jWMZMC284vQr3ZGKJIs6RMVXaiid49Ob+AngUGHucGwYm1BYbd2UCpgrnI5or7cK94B5X
                        7szsYmKYtEvdyLBVUXFZJqBYwh8Y3Cy4WaBh0SVGuJuXaBsBpro0oehdYVKUfXpVUoox9G2ytAvW
                        jdnlO4VoeoBJZ6taook72fM4HDJhZqJ0ehtM1qg9xZOJojQ9AFrsNRa3STexCNSGRiYAqsyr5rbO
                        rMG9T0w+Bzl4vDAehVklDZhy9rCgiQK8Y+2i2cyaMNpPEhWvG7NLkYTCdCGNi295qk/AjOFT3SPt
                        LMbkW0MqAmYNl3Yhmx0AFEgooGV4N5+qU3szdveEMpufkE2MsIUd7GIvrQLJhn2pqDFveNpXs5jN
                        DoDHR2hyqbYVKzHf8VjWbVHWMmH47dZ7yX6FKtupFaJPxOaWApPGD68s9KET+0f4GJdrW7ESG5ut
                        lHFblNVUmbLwqPabCxlQYzt15cacHamwU9qF2XuiFx/fUDQRa1vYrqTCLJOl7QAMmLAy4Dvdd8p0
                        RJNdbGEruxRXOQbGp2AFTFop7T1FlgmIYIJO0cJUxwYLnbp6TtOHemfeSunMdYIUVlU6E5bsymtp
                        MUt7Vr1eDQgTG/iJtlitZ8zKOyoo3VkSFWaZseLsR4ylcjXbTLCFHSrLtkxNwbJZ2qMWUsnFTwrX
                        9OgyasmsGnMlOSo3YMp4r/sy2aS6xRibFIb4quJzZOyWdhEmpQ8gKqhQtC3uPtwo/OmXARPMW5xb
                        uivHCegRE2xhzLJYNASlwnZp2/GfcxLBNvX2T0xoWG3pLnQmOhX1PK8PQWeis2C1JKbE7t+8Vbsb
                        pSztSfUalihsg7PUjYgNk1ZvWafT6UwVSiwqlrp1VzInmgO7YlEtXWnPqNexhKEyQsCCtl8Tj8YO
                        Cy325XC9pahzpcIsUhOLuMfZbalhl33KUp2dCpvtFWPJfCJOGAH97XXj0Vr+06aptmthhQZXqnSw
                        mtoJIWC38XmNXUK2pvyFXmmXSCae4PgRKMKumfForhQMuYmmRbmoUOdKtdyaneVoZ3ZjmvPFXC5t
                        Ye7ntBEoyh5XcZg5JCg5ITfRMnxTq9QUKy3Yqbh2GiGjAxuOAXUuVV0eWCqZgO9w1ghwB6/UtqQ/
                        RdjVqE2LA7SE/YsKNbZTK8BMjsGPl0x+zRyWs5JBDagZ9RXEJZMJOEBtBIq2frQXRZCKLm1CDtIi
                        zNG+DKhS41yqBRCILja3wje/6rV/T4X59PtTOpmA/dRHgL3s1LZkMMWRiiUiQtocIiQiGnDrqwQE
                        VNlMhWrB8mH/xIyq8anRe5iI/U63KVtCmYB9jI8A4+XYJa54UrGetX5GUIK1JBoH6wRMGW4A9Dvg
                        V+8UuVLKBOxi7whQL8uZvmWQinIRMaq2vNlsE6DN1j6NQ5192UsqEzBKcwMUdpu+dYTsKI+xJSBS
                        3SxlwujSv0pfGTK/58l6SisT0IYRKPbczLUMy0E35ilCxTXrI/Zrftge+2gzql7amdlENAJAxEZt
                        W5LjpUKCopyfZvJu9hv9qDBvMZclmoW5nocIoHsAUFvbljREShukuERxGnEm/Zpqn7EPc+fdrqdV
                        ZplYVIcSCkV3/6W92kaUmOm+HX22MSn8O/sMw+61VAbT5ZaJMgsFwK6inqlUeIpXcpGxIdqgz8h/
                        xD5LeSs5bSixUBTtvVgOIkYL6ouZkop6nynjNnwKM7myShtKLRQQsqW8PckKhGwtwE4bcZiSivjJ
                        VTZ8ipuMp2CcNpRcKLoLgPZqG1ESpgvTgRmHmRNCKn02PzLtU4QuvMjasCQU3+MZbWuys8vant3l
                        JWIs5Qb8OlaaGQGJP+zJtE/hgD9xmHtgSSh+yfe07clDk63FPmdJmZCtJWkrR0a8nqDP/lpmfYpp
                        g3Fb4h4egSWhgLu17clHmx0Wx8XLxR5DG9yZITLiH+5U8SmahffhErCoDI4IBcBE3ym7w0mbrX0m
                        HRWT0MCAYn+fwhQONDzWCUWobY8EIVu9X7GCPSUdFWoaWLTVz6eYNpKLqMAjTCkIu/9xyKPo4v2K
                        LmEJfYll9oo/ZP18CjMvl2kjsVon7P5nZPH/PouIo7RtksPeWRJFJGJP6QeNA+aEd8Hqd+rHrIGd
                        PJ14YR3mGA7DskdR8nGPtexliyuKnppptpReJkyc8N3Pp5Dv0HRiBgXc05WJZaFwpJdimYgx1W1Z
                        dGixowTzJZIRivdUxPdTyJ/eYmMdiQXCpT+WhcKZXoplWuwoyK4LNmgz6pg07hXOTdBnsxrpEYqm
                        dGHoEC794bRQADTZwpjzYtFmjC2uVM4VSHtH8dvjTYumM+2IV7esCiVqelQzdzhNs4U9rty6dXRF
                        YlrbDEN5kx2RqMTWobaozO43VB7WOSIUI0c+OoqIZ2nb1Z9ZYE8Od7TB7sIcuSNDmz2OSsQysiMS
                        zdhOUrlN/NtsMVsktniEZ6/vzHyGb2nbNYhRAmZzVJxptjBWfNcpIaHDnsRKZOdp1mNfFXLNhaa5
                        wrDLN5dkYqVQwB3adg0iYoyIGrPM9Vk63J9ptrKj9LeyyY7SLPTKi3TzoxH7TVMoBUdGPGIVoU6n
                        +KHeWWK+08gRT6Uz0VnolI/5zkSnon4X7IagMy9agnHpVEXin1MvL7FQ7y0Up6kblihMrLrpjVxx
                        1TszFh/yvMx06uqlrxMaouUYX4rzArHnq5GFCqfFuRptddMShZlVNyavWASd8c6crWc9I3OdRidQ
                        L3fNIHmHpmJTGc8d94I796m9Uho2rBKKwvdSdFndIVlhivnMfRYQsZetbDG0EVteQnaxha3ujMxn
                        RHKWZr3PDM28OLEHRZdValBKoYjWTcSpMMUCEzkWgrUX5WKsILc6oskYm9jKXueniyWhJThLM36G
                        Zjv3y8KJPSi6rFKDkVVfbeN2beuSUmO2x6cR+0Q2N6tRY7uBFYVJaHFA9LFwhd53PBvxsynG+5wE
                        MhhnZlDAmuWvq4XiBB7kBG37khJ3S6XEApYEo2phyXpEi4NeIPoiOfVqU0wNyXcm6Z4S7wGyhsc5
                        aXkWxVqhgBbbtS1MzlSfnolp9gi67BWqVNlORXhmZ5uQg4SEvnmRAEmfIv4UkbkchyZvcec+Hlit
                        ykev+fqOMgnFLqqxN7VBgxb7hCbRtFesBahSocpGqpDhDdcCQh6iRVTIztMi06ItJtTbY4WilVko
                        Wu7IBGtd27UeRZ0ZbQvTUGFuQLOgzT7DIwbBYsUKYipYa81/PdmRW48RsSnmm+x+i6mzzlR4PZ9Z
                        +X/XCsVp3KdtYTqS3dZpbvIPqhMsiPUXxe/dkS2NflvtlY7D/AoPrvxgw5oLfsJ3tG1MRyvRoqEG
                        s8wz7tja0WFkWiymS2O/aWWKrxjD6kJ8Y7VMrBcKVjscZWA6YeWpMMk8MzSGeNvd8iO34KoW+82B
                        TPE5NIOihwqMrLvkYj6tbWV60vVURzTZX/oVpMOK3CBp3BBplbnUcTk1g6JHu2y9RzHLE9pWZslX
                        lOLqgAYzLDDVZw9FT1GRe3PXYj4PMzQinFlaDvDE+omXG3pc1NK2Mz0RO1L/ZlkufGOkTDTFYoqf
                        CdBStKoAtNY7Cxt6XFa6XgrIfmJlQIMpFphlPMdEG4895I4ArMV+k7aXQn67f1V6KIAzQpG8U7M3
                        NSaZY4EZLxiFR2rr2mrsN6GSRQWhhwKM9LywzWZtW7Mh1dEVEXKAVqbWqsc0AQtCMcXPpeikiCV+
                        8lYpOdRrFsGGnpeW1KdA7LifgBq7mWWBBWaZZJya78coDHLnhNdiv2mliEXKmoLQ8+k/OubSd2hb
                        m42IUWZFH+mA2orq1KLNIdqLwaPFfqHxqnNjvwlT+KZOjXjECEXvpkfATzhO296syK0HGEwLWNn1
                        1epxjV/8JU++xeDLxM9+SF6LHJtB8QTP5aH1H4/EXF6q5eZrmexzbrV9WhmGbj2DmBeajh/3ACSf
                        dLXLgbPjV3Cgtyu1Ieby0vZSAOwq1FSQUNsAJ2kJxVOL+TxMHENTtRzEiXny44TiE6m6fQvHaIEe
                        z4PaBjhJtvUY66nGftNK9HvHZlB0+LveX8QJxT18RdvmPETi52BnJ9Q2wElaQvEEsd+0E/3eqaVg
                        8BW+1/uLDbE/aWrbnI+sMzVNWOKRpy30IojvikviCcoN1BaE2Ow4KxTQFD6zMhstbQOcJRSJpZIr
                        /mntQpAltuHRTyjuLn/jeqIAahdqG+AsMr0UldhvwgS/HpaGRz+hgI9p252fMfUH9ZB2EThLKBRP
                        JebzKIEFUjYUhGb8Vxuy/aws6HdqhtpF4CxtoXgqsd+0BvzSMX8is1A40PiAMPZMKFvpe8wQCsUT
                        xH7THvDLae0ikOUgd8d/uaHvTx1ofEBL9IDbdESFGaR1kVAklmrsN/2bjU5tpgsDnvb+QtHUtl2G
                        vWraH2pn3Wkiw/GHfb8dpobHIKG4u2yb98exS+mRjbQz7jQy4x7xK0ijPr9qu/IWXaJvw2OQUDjS
                        +OguP48U0nWgk8d5gthvwj6/amqbLc2AJ32QUNxU7jUfy7SVOzU98rQNxx/1+c6xPSg6/HX/CwYJ
                        xTxf1M6DFMnOFJMl1M6007RFYgn6fBfGfi6TdmH4Ij/sf8EgoXBqDCjf9rtZiLSz7BlItc93Uczn
                        jvkTCZ7ywUJxCz/TzoUc+jM1PXK01VJoamddlgf520GXDBaKRwa1XspFujPF8mIzreGjbTyF3jMp
                        pl27r/83jw66ZLBQONX4yHamWHZC7ex6DODYKR6JnvAkQhG6NcpXnJ0qPEUn7PGZgzMowsEXJREK
                        uF47L7LY79T0lJOox2dNbaOkSfR0jyS5iJO4n5O08yOL1Jli/UlWvJ6syEzyib9LNWbXfbbFraHR
                        Rzl1cA9FUo/ikfidb8qK1JliHpdpr/uk5Vq9uSWJTCQVCsc6NEFvUrenTLTXfeLcUrCE3QpJfeMR
                        vu/WgUhg40wx3/Qwi+mmx9oUIra49Xo52He+2QqSehQd/lQ7T/JMu3XGk8c4zu1BkXiYIvkr70T+
                        medo50ses52ajnV8FQ7zHsXq+rHDrV3VFzidx5JdmtSjgEf5iHa+TGD2TLGKdvacJrCcXtstmYAb
                        kspEGqGAD/O0ds7k0d9+15OVquX0HOvIfJr/lvziNELxIz6hnTcT+Jmaw02Y+NtpbVNl+QT3Jr84
                        jVDgat+fuTPFatpZc5pAJJao77cPHfnLuRkUe9NcnE4o7uBO7dyZoQhninnSUrWammMNjwPckeby
                        dELhrE9haqeKzdrZ8gwkSvRt5FrD47p0l6cVir/jR9o5NIOZmZoV7Ww5zfb8UTBoA+Rw8b9N7czK
                        8h0+m+4HaYXiaT6knUdTmNh+t6KdKY8Qjm1+tzftFJS0QgE38HPtXJpC/kyxinaWnKYmEks70TWh
                        dmYlWUjf4ZJeKBydeNVF/kyxmnaWnKUiFE+777ch4Jw/kWKi1RLphQL2pU+mPEifKVbRzpCzVITi
                        iRJ829TOrCSPZdG9LEJxHzdo59Uc0p2aFe0MOUtNKJ5w4BVNt2ZQ3MB96X+URSjg/S77FG3R7Xdl
                        euY96zk3fxQk6aFou7WZ7mO8P8vPsgmF0z6F7KTuqnZmnKUqEkt74BWhWzMoMvkTWYXCcZ9Ccvvd
                        wEuFEQKhRl048AqnZmRm9CeyC4XjPoXkTM2qdlacpCYUz6GBVzS1sypJRn8iu1A471Mg1vzwvRQm
                        kCrVUDsjNsnsT+QRivv4K+18myUUiqemnREnqQnFE2pnxCaZ/Yl8u7+eybc5WjvvJpHaJs9viCdN
                        wIJIPG33doyO5zFemF0osnsUcA83a+fdLG2heOraGXGOulA8oXZGbJLDn8gnFPBfXNwcbxmpI1d9
                        L4U0UiXq1KG6/cnRPwF5hcJxn6IlFE/d+jawrlMXiqelnRF75PIn8p9Qcyrf49naZWAOme3gYcyt
                        STvK1JkRimnTsGys/AteyM/yRJDPo4Cf8SfaZWCSllA8l2pnxCmkSjMcFpmAP84nE/mFAiYTzFkp
                        LQeE4vGND0nqQvGE2hmxxQ+ZzBtFfqF4gvdql4M5WmIx1bWz4gxyoiv1Gig8f8QTeaOQOUX3drZp
                        l4UppHopWqJrUoeZGTHRHZL5LXdKPJ0yQrGN25ULwxhyZ5MOSbU0jNRUKwjZqp0ZO2yTOGQjf9MD
                        4A4+rlwYxpDbi2CndlacYFwsppZ2Vuxwk8xZPDIeBWzmOxynWBzGqDInFFPEJu3MOMC82J5ho26t
                        C+1N7mHRJWQ8Cjjk6tFAoViDIaChnZnSUxfcWrCpnRkb5B4WXUJKKARNKhotsZh2a2el9Mg135ra
                        WbGBwLDoEnJC8TD/QaUwjCPXS1HxS85zURMsP6f2wYxDYFh0Cak+ii4HuNB6YVhgQWzk3g+S5kFu
                        YHQoJm9/mQvkIpPzKAD+PU9aLgwrNMViknwnDhsVQZloui8TTwruEI20UNzjZjNc0k11soCsINbc
                        ZigaHrv5nmR0sk0POIp/dHEei1zjA3YMywi+KDVmBWNzvuER8nKekYxQ1qOAZ7hK1sBi0BSMS/LN
                        ODxIemLONzyeYUz6KZQWCpjjw5aKwyKSh9RW/XyK1Mj27Th1UkcvPii/MFa66QHwLL7GmeZLwy5y
                        MwKhzVbX32nCSJa+8zNkv8evyw8qyHsU8Ev+vYXisIykT1ERXLEwDIyLHvU8rZ0d04yZGHs04VEA
                        THOl0cKwjtyqxS5+LWlSKsyJbvvjeMn/BdeYiNaERwHwh9xrsDAUiITfRFPaGSoNk6Iy0XJbJu7l
                        3WYiNiUUD/L7xgpDCdkusJpvfiSiLrw3mOMdmb/PL81EbKrpAfAxLjcYuwJzogcOR2x1++0mQMC8
                        qD/h+MlgH+cKU1Gb8igAruUHBmNXQLJDEwLf/BjIlPCmxE77E/Ncay5ykx4FbOP/MypF1pGcoQmw
                        y9VtPERoCEtpxBZ3h6UPc77MXla9Ocqo8T/iRF5tNAXLnCC8qOti9vMT7UwVlAozHC8a48fc3bER
                        /tSsu2TWo4Bj+SrnGE7DItJtZgjZ4e5bLheyPULg9MDonVxoduW26YbBk7yVRwynYZFIuJ8Cqn7t
                        R0+mxGVi2l2ZeIS3mN7gwWzTA+Cn/Jw3Gk/FGiHXCDvEVR7iDu1sFYwGE+Jxjrrrue3k86aTMC8U
                        8FXO54UW0rHC4+L9FHAxB9x922WgyqfF45x2d8Tj8zZOgjDdR9HleXzLnZU48v0UELFjeE7CHID0
                        lO0uzvZP/IStNvrD7Qxe3sc7rKRjBfl+iu6cikA7Y4UgYMZASTjcP/F2O8NmdjwKgL3uHJVlwqfw
                        4x9d5Mc6nJ4/sc/WSgB706He484OcBG7DMRaZUY7Y+rIj3UA7HNVJr7Ie2wlZc+jgOdykOdaTM8o
                        klupLDMtu3VyyZgysveXs9sE/ZRz+KmtxGxOsL6fKzhsMT2jmHmgpSctlwkzMgF73JSJw/yWPZmw
                        Mzy6TJsnea3VFA1mpcpZBuKtUhmGzeTXYUomWkaaiQXgf+dmm8nZbHp0+Xv+jfU0jWBmGA+GsQFi
                        SiZgq5vDzrfansRof23nb/NP1tM0QtvAMGmXBrNDNVhqTib2uikTd/NW20na9yjg1/gqJyqkawAT
                        g3ldhmWwNGDWWBk62o35KC/jbtuJauwW8U/8nkKqRjDX/q0afICKQ8VoLne5KBNwtX2ZsN2ZuUTI
                        83i5SsrCtAnYZiju07iCO92dUQhUud3IIHOXJnu0M2iCfXxAI1mNpgfAMdzOy5TSFiVgzmBld3kP
                        LLNDwY7Oxvwa23hKI2Gtjeqe4mJ+pJS2KJHhEYpJR1eBTBmeMTLmokzcy+t0ZEKr6QHwKF/grRyn
                        lr4YbUbEF56vpMrF3OnUhnkVZrnYaAp7jY1IKfIwr9FriWo1Pbr8L9zKMaoWCGFu9GMJd5ogDeEj
                        fdbj5GjHU7zB/PY08egKBYzxl8oWiGBu8tUyLcYMvlCqR+yPDM49CJgSPtCnF05Osmq4u/NOMq6j
                        40JodMyz0BkXtTno1DuTndnOQo+UZjuTnUYnEE2v3iMleWTLqCBhQvsx1WcDf6d+G0TClIWHoNOZ
                        7VQEbA064525ROnNdcZF5KLSmbFSPjPq9cBAmNZ+SIvBCdymfitEQrJHLz8TuR7dSgZJm+pUc5XM
                        hBVfotOZE/aBChFud6MfT4JT+K767RAIFUuPQ6cz32lktDC9SCwxk9GXqXfmLZXKQk45K2S4h1O0
                        H88icSY/U78lAqFm6ZHodDqduU4tpXUTudNM68vUOrMWS6Shfv/Fw894kfajWTTO40n12yIQbHRq
                        LjObWCyqQg2jucRvbbsi0elMqN978fCosfUBpeZynlK/NQJhyurj0enMduoJ5GtBMMVG4USi05lS
                        v+/i4SneoP1IFpXLeUb99giEGcsPyewAe/I3OdI+lrZLwMFOzGe4XPtxLDJXuyAVgbXxj06n01kY
                        0Mk4ZSTVqQElsGCxBJyUiau1H8Wic7X6TSqZVEwoyESnM0gqxq3l38mxDi8TCXi3+m0SCFVL79SF
                        vm9Ts4/rZN8SmLeUfwdl4t3aj+B69FaPxnMbT5R/r+6f8FmuED73vBfX9jkJvW54Kfc2DvVZVfGQ
                        hVUdTp7Z+j7+VNuE8jChruql8CoW+qRuY/pX//f5vGrqJQ0T2o9eb7Q2rhnEBO/XNiE/5jfI7bfr
                        go0Nb4K+Povpreh2uedNvL+oQlFkblBX98J7FUFsuvY6EydibTA79tFQv7fiQWU3TBf47+q3rtBS
                        ET/uYHN4st/w7JSxNGvq91U8/Hftx60fRW16dHkn12mbkB9zDZD4owd3W9xnM2B37HdmNqSL2EHL
                        Wv4scR3v1DahH9o7XA3mvfyJtgn5qRo4+ytiU8w3FeYt529L7N5b8qe+OzrSUfBXYrE9CugqbUfb
                        iLyEbBGv3M3YbxrW8xfvUzSTR5KItnsy0XHDcy4Cb3VhuZj0bM16bEoLhnslevUZBDG2yC68d3Cy
                        9lP2zxHNQvE9CoCbuYyntY3IS8RW0T3NWjGf1xXOAQliJ1e1UsQyiKZ757E+wWXcrG1EEsohFLCf
                        y3hC24j8jInNLQhjH5lLVXIWn2pLKIVpRt2TiUv69EgXirIIBeznEh7RNiI/E0LVvRX7TV0lX/F+
                        zAGR+McMn8imwCNcwhe0jUhKeYQCvsBrXXilNNkhcD7HoZjPq2oHENZiPg9zxyzdaCsEEa8tj0yU
                        SyjgDl7FvdpG5Cdka+7RgDDm85parqoxn7dzxtsyMGKkzr28qs9qvgJSLqGAb/NK7tI2Ij8Ro+zK
                        FUMY8/m5annantLSZOxxrwMT7uKVfFvbiHSUTSjgXi7kk9pGSLCXrTnetlHM5xW1/MSnHCWOY+3v
                        dri4RuqTXFg+v7h8QgGPchkf1jZCguxNkHbsNzW13FT65DMLTba4N1EbPsxlPKptRHrKKBTQ4V28
                        i2e0zchPxGimUZC2tuE9CcRiitjl3mAoPMO7eFc55xmXUygAPswlZVTm9TTZIj7RWYeqUDwttrJX
                        OzPyPMQl5fWEyysU8NkytvV6kdWvWE9FOyu5idglMnxcOO7lfD6rbUR2yiwUpew9jqPJFoG5AoF2
                        NnKXgpO+hAM1tdxCUXqdXknEWO53aaidiRy0GWXURV/CCd+37EIBD/F63uNCxyZ0JxftKm0nXjvz
                        LyP2CExCKyTP8D5e70Zvmgv8Jg+oLxgWXJA+NXC5ddxvNYmzaXbA76YGnHVW4vBg7Dw0jxKbuV29
                        WgiGyoDzO+N+N1dAoZjv85tZF7fcXwp3cob2YyFF+ZseSxxiOzdqGyFHm9FMO0NGahbH21qJ/cUO
                        9/arWmaaC/ihthFSuCMU8CRXczWPaZshR/dBavX8rhbzG5lF3VkIYz6vpM6bAzzGGGM8qW2GHC4J
                        BcCNnBe7AruUdB+o6XWfV2KuD9UsPRjz+XpLHRcJ+CGvdG9dvHuczP+j3jo10GcxtWovzLgDggO1
                        HopKjEUTq65yuONyKXyK52g/Ap5kjLCHw+oVRjwEnfEjHYOzsVfNqsjEfKw9M0eumHBva9y14TD/
                        VwmOwPCs4CJ+ol5tjIT64qMX9729wwRXMhlrz0Kn05nps2e4Q+GHXKRd7T3peS4z6lXHUAg647Eu
                        vE7jo5LBUsfCTOyJTJ7Ccw2Pqlcg62HKukzMqudZOTxW7AMB8+PaqMdarucVfEvbCNvcZD1FM2eM
                        loZv8fJiHzGcH9eFonsTr9c2wi4ty0OPbTdXaSTlL3i5+y8j94UCHudaRlnQNsMmUscMJcO5EzeS
                        cz+jXMPj2maYZxiEAqDJuXxO2wh7tCzO97HtvxSIz3HusDhTwzTmO8If8scco22GHQLmrWxjE+Xa
                        S7zEPMV/5IOUcv/LLAyLRwHQ4YOcOSxvgMhSg2DPcMpEkzP5wPDIxHBS58fqw2lWwqTxYdEp9Twq
                        hB8rHe/qsc5GbnBxivf6MGdUJubcn5K9NhzmI2zUrr4em1zAd9WrnfEQGJSKIZSJr3OBdrX12Oc4
                        /hOPq1e+kkrFgss7U/UKj/N/DEtHuGc9Z/JF9SpYQqkYOm/ii5ypXVU9uozwZn6gXhENS8WMqEzM
                        DpdM/IArhmoagSeWY9nFz9UrpNEwkV8fFplQz4vF8HP+gGO1q6enSGziz3hKvWIaDFWBJsh8p6ae
                        D2vhCT7kF457evFid3ew6IaJVdvppWNhmHyJw/yNAwe5egzyKv5RvZoaDEEmsVgYhm3slsM/8nLt
                        augpPs53bwadRopmyFynMUwi4bsuPSkYgu7NSme8M9PHu1jozAzPNnbd4LsuY/HaGc8JvIv3cIq2
                        GaapUKG6aqVpREh72BZ73cf7ucGl46Nk8ULRn2fxzmEQiyHnAT7If/Ui0Q8vFIPxYuEyD/BB/oxf
                        aptRdLxQJMOLhYt4kUiMF4rkeLFwCS8SqfBCkY4TuYo/8FNxSk6bvXyER7XN8LjNUVzOV9WH8nzI
                        Fu7if+Uo7SrkGR528Cn1Su9DuvBpXqtdbTzDyNlM86R69fdhcHiMj3C2dnUpM76PIi/P51reyXO0
                        zfDE8nOuZy8/0zbD4zmRdzGv/tb0YX2YZycnalcPF/AehRw1ruJNnKBthgeAx/gkH2VW2wxX8EIh
                        y0bezFW8UtuMIedO/pKP85C2GS7hhcIEZ/O7vI2Ttc0YQu7nfzDFt7XNcA8vFKY4ln/D7/A6P2Zv
                        iWf4HH9Jk6e1DXETLxRm+RUu481cMFRnvNrmMF/iFm7hp9qGuIwXCht4uTCDlwhreKGwh5cLObxE
                        WMYLhW28XOTDS4QKXih08HKRnqdpcQtNLxEaeKHQ5GjO43W8jt/wgtGHw3yNz/I5bvMjGnp4oSgC
                        z+EiLuIiTtc2pGD8mM/xOT7Lz7UN8XihKBIv5SJex4Ucr22IMo/zRT7H5/iGtiGeJbxQFI/jOZ8L
                        eDXncZK2KZZ5mNv5El/mTh7XNsWzGi8UxeUoqryaC3g1z9U2xTD382W+zJeY47C2KZ7eeKEoAy/i
                        1VzABZypbYgw9/AlvsyX+J62IZ5BeKEoExs5l5fyUs7hpauO9ioTD/LNxfANv76zPHihKCvPPyIZ
                        Zxd+a5ZH+fYRebhX2xhPFrxQlJ8RnsdmKov/28xmdeF4lEOLoc0hDvFjOtqF5MmHFwoXOfWIaFR4
                        HidzCv/CYGq/4AEe5L4jstD2+1O6hxeKYeH5nMwpnLLi35M4ZlU4mmM4hmctXv9LnuIpnuapVeER
                        HuBBHljx74+1M+axwf8PWV7iW4kcmp8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMjAtMDMtMjhUMjI6
                        MTQ6MTYrMDM6MDD8fXvFAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIwLTAzLTI4VDIyOjE0OjE2KzAz
                        OjAwjSDDeQAAAABJRU5ErkJggg==" />
                        </svg>
                        
                    <span>Ytizen</span>
                    {% if page_is_help_center %}
                    <div class="light"> | User Documentation</div>
                    {% endif %}
                    {% if page_is_api_center %}
                    <div class="light"> | API Documentation</div>
                    {% endif %}
                </a>
                {% endif %}
            </div>
        </div>

        <div class="float-right top-links">
            {% if user_is_authenticated %}
                {% include 'zerver/portico-header-dropdown.html' %}
            {% else %}
                {% if login_link_disabled %}
                {% elif not only_sso %}
                <a href="{{login_url}}">{{ _('Log in') }}</a>
                {% endif %}
            {% endif %}

            {% if register_link_disabled %}
            {% elif only_sso %}
                <a href="{{ url('login-sso') }}">{{ _('Log in') }}</a>
            {% else %}
                {% if user_is_authenticated %}
                {% else %}
                <a href="{{ url('register') }}">{{ _('Sign up') }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
